<router-outlet />
<h3>Signal Use-case</h3>
<label for="">{{ label }}</label>
<br />
<br />
<button (click)="toggleDarkMode()">Toggle</button>

<br />
<br />
<hr />

<h3>Computed Signal Use-case</h3>
<label for="">{{ totalPrice() }}</label>
<br />
<br />
<input
  type="number"
  value="{{ quantity() }}"
  (change)="changeQuantity($event)"
/>

<br />
<br />
<hr />

<h3>Another Computed Signal Use-case</h3>
<input type="text" (input)="changeFilter($event)" />
<table>
  <tbody>
    <tr *ngFor="let product of filteredProducts()">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
    </tr>
  </tbody>
</table>
